extends layout
include _includes/sharedHTMLfunctions

extends layout
block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(location.rating)
          p= location.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title=  openHouresHeader
            .panel-body
               each houres in location.openingTimes
                if !houres.closed
                    p= houres.days +':' + houres.opening +'-' +houres.closing
                else 
                    p= houres.days +':'+ 'closed'
          .panel.panel-primary
            .panel-heading
              h2.panel-title= facilitiesHeader
            .panel-body
              each facility in location.facilities
                | &nbsp;
                span.label.label-warning
                  span.glyphicon.glyphicon-ok= facility
                  | &nbsp;

        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
               h2.panel-title Location map
            .panel-body
               img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=1')
    .col-xs-12.col-md-3
     p.lead= pageHeader.title +sidebar.context
     p= sidebar.callToAction
  .row
    .col-xs-12
      .panel.panel-primary.review-panel
        .panel-heading
          a.btn.btn-default.pull-right(href='/location/#{location._id}/reviews/new') Add review
          h2.panel-title Customer reviews
        .panel-body.review-container
          each review in location.reviews
           .row
             .review
               .well.well-sm.review-header
                 span.rating
                      +outputRating(review.rating)
                  span.reviewAuthor= review.author
                   small.reviewTimestamp
                     +formatDate(review.createdOn)
               .col-xs-12
                    p= review.reviewText
           
